services:
  localstack:
    image: localstack/localstack-pro 
    container_name: localstack
    privileged: true
    environment:
      - DEBUG=1
      - LOCALSTACK_AUTH_TOKEN=<REDACTED>
      - SKIP_SSL_CERT_DOWNLOAD=1 #this is important 
      - PERSISTENCE=0
      - LS_LOG=trace
      - ENFORCE_IAM=1 #this is needed to enforce iam policy
      - AWS_ACCESS_KEY_ID=dummyaccesskeys
      - AWS_SECRET_ACCESS_KEY=dummysecretkeys
      - AWS_DEFAULT_REGION=eu-west-1
    networks:
      - lsnet

  authz:
    build:
      context: ..
    container_name: authz
    depends_on: [localstack]
    environment:
      - ALLOWED_KEYS=dummyaccesskeys,AKIA2L03056B890WYAAZ,LKIAQAAAAAAAN7PNUWLO #add your allowed access keys here
      - AUTHZ_DEBUG=true #enable debug logging
    networks: [lsnet]


  proxy:
    build:
      context: ../proxy
    container_name: proxy
    ports:
      - "80:80"
    depends_on:
      - localstack
      - authz
    networks: [lsnet]

networks:
  lsnet:
    driver: bridge
    external: false